
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

.text-light-gray{
  color: #727272;
}

/* shared styles */

.display-flex{
    display: flex;
}

.bg-light{
    background-color: antiquewhite;
}

.nav-item{
list-style: none;
margin-right: 30px;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-link{
    text-decoration: none;
}
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.nav-bar, .banner{
    max-width: 1440px;
    margin: 0px auto;
}

.banner-content{
    width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700px;
    font-size: 4rem;
}
.btn-primary{
    background-color: chocolate;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    border-radius: 10px;
    border: none;
    
}

.banner-image{
    width: 100%;

}

main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section{
  margin-top: 130px;

}

/* Teams & feature related styles */

.teams{
  align-items: center;
}
.team-image-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features{
  margin-left: 130px;
  max-width: 530px;
}

#quick-list{
  font-weight: 500px;
}

.featur-title{
  font-size: 2.8rem;
  font-weight: 700px;
}


/* Responsive median query */

@media screen and ( max-width: 576px) {
    .nav-bar, .nav-links{
        flex-direction: column;
    }
    
}